.header-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  min-height: calc(100vh + 10rem);
  overflow: visible;
  position: relative;
  grid-auto-rows: min-content;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 26rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../public/webp/hand-left.webp");
    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 30rem;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 7rem;
    right: 0rem;
    width: 25rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../public/webp/hand-right.webp");
    z-index: -1;

    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 40rem;
    }
  }
}

.header {
  grid-column: 2/14;
  margin-top: 13rem;
  padding: 0 6rem;

  @media only screen and (max-width: 45em) {
    grid-column: 1/15;
    padding: 0 4rem;
  }

  &__hero {
    &--heading {
      font-family: $font-secondary;
      font-size: 9rem;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: var(--color-white);
      position: relative;
      @media only screen and (max-width: 45em) {
        font-size: 7rem;
        br {
          display: none;
        }
      }
      @media only screen and (max-width: 28em) {
        font-size: 6rem;
      }

      &-gradient {
        background: linear-gradient(
          -45deg,
          var(--color-light-blue),
          var(--color-light-purple),
          var(--color-light-blue),
          var(--color-light-purple)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
      }
    }
    &--cta {
      margin-top: 13rem;
      display: inline-block;
      font-family: $font-tertiary;
      font-size: 1.8rem;
      line-height: 92.4%;
      letter-spacing: 0.19em;
      color: var(--color-gray);
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 50%;
        height: 1px;
        background: var(--color-gray);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    grid-column: 1/15;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16rem;
    margin-bottom: 14rem;
    color: var(--color-gray);

    @media only screen and (max-width: 57em) {
      padding: 10rem 4rem;
      font-size: larger;
      
    }

    &--right {
      width: 50rem;
      @include centerContent;
    }
    a {
      color: var(--color-gray);
      text-decoration: none;
      font-family: $font-tertiary;
      line-height: 92.4%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--color-white);
      }
    }
  }
}

// section


.section-about {
  grid-column: 2/14;
  margin-top: 10rem;
  padding: 0 6rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
    padding: 0 4rem;
  }

  .heading-1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: var(--color-white);

    span {
      background: linear-gradient(to right, #a0f1f7, #ffb8e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    small {
      font-size: 2.8rem;
    }
  }

  .about-text {
    font-size: 1.7rem;
    color: #bdbdbd;
    line-height: 1.7;
    margin-bottom: 2rem;
    text-align: justify;

    @media only screen and (max-width: 45em) {
      font-size: 1.7rem;
    }
  }

  .resume-link {
    font-size: 2rem;
    color: #999999;
    margin-bottom: 2rem;
    text-align: center;


    a {
      color: #ffffff;
      font-size: 2.3rem;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}


.section-projects {
  grid-column: 2/14;
  margin-top: 14rem;
  padding: 0 6rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }
  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  p {
    margin-bottom: 15rem;
    margin-top: 2rem;

    @media only screen and (max-width: 57em) {
      font-size: medium;
      
    }
  }

  .project-card {
    width: 80%;
    margin: 20rem auto;
    background: linear-gradient(
      180deg,
      rgba(35, 37, 49, 0.5) 0%,
      rgba(15, 15, 24, 0.5) 100%
    );
    // background: rgba(15, 15, 24, 0.5) 100%;
    border: 0.2rem solid #20222e;
    box-sizing: border-box;
    backdrop-filter: blur(54px);
    border-radius: 7.3rem;
    display: flex;
    align-items: center;
    padding: 6rem;
    position: relative;

    @media only screen and (max-width: 57em) {
      width: 70%;
      border-radius: 6.3rem;
      flex-direction: column;
    }
    @media only screen and (max-width: 40em) {
      width: 75%;
    }
    @media only screen and (max-width: 35em) {
      width: 80%;
    }
    @media only screen and (max-width: 30em) {
      padding: 4rem;
      width: 84%;
      border-radius: 4.3rem;
    }
    @media only screen and (max-width: 23em) {
      width: 90%;
    }
    @media only screen and (max-width: 22em) {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -5rem;
      right: -5rem;
      width: 15rem;
      height: 15rem;
      background-repeat: no-repeat;
      background-size: contain;

      @media only screen and (max-width: 57em) {
        top: -3rem;
        right: -3rem;
        width: 12rem;
        height: 12rem;
      }
    }

    &:nth-of-type(1) {
      a {
        color: #6b9796;
      }
      &::before {
        background-image: url("../../public/svg/01.svg");
      }
    }
    &:nth-of-type(2) {
      a {
        color: #e6972f;
      }
      &::before {
        background-image: url("../../public/svg/02.svg");
      }
    }
    &:nth-of-type(3) {
      a {
        color: #57a3c7;
      }
      &::before {
        background-image: url("../../public/svg/03.svg");
      }
    }
    &:nth-of-type(4) {
      a {
        color: #c08af1;
      }
      &::before {
        background-image: url("../../public/svg/04.svg");
      }
    }

    &__left {
      margin-right: 6rem;
      @media only screen and (max-width: 57em) {
        order: 2;

        display: flex;
        align-self: flex-start;

        display: none;
      }
      h4 {
        transform: rotate(180deg);
        writing-mode: tb-rl;
        font-family: $font-tertiary;
        font-size: 1.3rem;
        line-height: 92.4%;
        letter-spacing: 0.19em;
        color: #8b8b8b;
        line-height: 120%;
        @media only screen and (max-width: 57em) {
          transform: rotate(360deg);
          writing-mode: lr-tb;
          margin-top: 3rem;
          margin-bottom: 2rem;
        }
      }
    }
    &__middle {
      width: 35rem;
      height: 45rem;
      background-size: cover;
      position: relative;
      border-radius: 5.3rem;
      overflow: hidden;

      @media only screen and (max-width: 57em) {
        order: 1;
        border-radius: 5rem;
        height: 40rem;
      }
      @media only screen and (max-width: 30em) {
        width: 30rem;
        border-radius: 3rem;
      }

      canvas {
        position: absolute;
        // border-radius: inherit !important;
        z-index: 0;
        width: 100% !important;
        height: 100% !important;
      }

      img {
        width: 100%;
        height: 100%;

        &:hover {
          &:nth-child(2) {
            opacity: 1;
          }
        }

        &:nth-child(1) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
    }
    &__right {
      margin-left: 6rem;
      @media only screen and (max-width: 57em) {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        order: 3;
        margin-top: 2rem;
      }
      h2 {
        margin-bottom: 6rem;
        @media only screen and (max-width: 57em) {
          margin-bottom: 3rem;
        }
      }
    }
    &__link {
      display: inline-block;
      font-family: $font-tertiary;
      font-size: 1.8rem;
      line-height: 92.4%;
      letter-spacing: 0.19em;
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 50%;
        height: 1px;
        background: var(--color-gray);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    &__socials {
      margin-top: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 5rem;

      @media only screen and (max-width: 57em) {
        width: 6.5rem;
        margin-top: 5rem;
      }
    }
  }
}

// section=reviews

.section-reviews__bg {
  background-color: #050810;
}

.section-reviews {
  grid-column: 1/15;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  padding: 4rem 0;
  transition: all 0.3s ease-in-out;
  &__top {
    grid-column:2/14;
    padding: 0 6rem;
    
    
    @media only screen and (max-width: 45em) {
      width: 100%;
      top:0;
      right: 0%;
      margin-right: 100px;;

    }

    p {
      margin-top: 1.5rem;
    }
  }

  &__bottom {
    grid-column: 1/15;
    overflow-x: hidden;
    margin-top: 8rem;
    margin-bottom: 4rem;
    &-wrapper {
      @include centerContent;
      width: max-content;
      .review-card {
        background: #171e2f;
        border-radius: 2rem;
        padding: 3rem;
        margin: 1.5rem;
        &__top {
          @include centerContent;
          margin-bottom: 3rem;
          // &--left {
          // }
          // &--right {
          //   img {
          //   }
          // }
        }

        // &__bottom {
        // }

        &__p {
          font-size: 0.8rem;
          text-transform: uppercase;
          line-height: 81.4%;
          letter-spacing: 0.25em;
          color: #585e6e;
        }

        &__h3 {
          font-size: 1.9rem;
          line-height: 81.4%;
          letter-spacing: -0.01em;
          color: #585e6e;
          margin-top: 1.5rem;
          font-weight: 100;
        }

        &__h2 {
          font-size: 2rem;
          line-height: 130.4%;
          color: var(--color-white);
          font-weight: 100;
        }
      }
    }
  }
}

.review-card__anim1 {
  animation: reviewCardAnim1 20s ease-in-out infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

.review-card__anim2 {
  animation: reviewCardAnim2 20s ease-in-out infinite alternate;
  &:hover {
    animation-play-state: paused;
  }
 
}

//section-experience
.section-experience {
  grid-column: 3/15;
  width: 80%;
  padding: 10rem 0;
  text-align: center;

  .heading-1 {
    left:0;
    top:0;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem;

    span {
      background: linear-gradient(to right, #a0f1f7, #ffb8e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    small {
      font-size: 2.8rem;
    }
  }

  .paragraph {
    left:0;
    top:0;
    margin-left: -670px;
    font-size: 1.8rem;
    color: #9d9d9d;
    margin-bottom: 6rem;

    @media only screen and (max-width: 57em) {
      margin-left: -40px;
    }
  }

  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    justify-content: center;
  }

  .experience-card {
    width: 80%;
    background: linear-gradient(
      180deg,
      rgba(35, 37, 49, 0.5) 0%,
      rgba(15, 15, 24, 0.5) 100%
    );
    border: 0.2rem solid #20222e;
    box-sizing: border-box;
    backdrop-filter: blur(54px);
    border-radius: 7.3rem;
    padding: 6rem;
    position: relative;
    text-align: left;
    color: #f2f2f2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -5rem;
      right: -5rem;
      width: 15rem;
      height: 15rem;
      background-image: url("../../public/svg/01.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media only screen and (max-width: 57em) {
        top: -3rem;
        right: -3rem;
        width: 12rem;
        height: 12rem;
      }
    }

    &:nth-of-type(2)::before {
      background-image: url("../../public/svg/02.svg");
    }

    &:nth-of-type(3)::before {
      background-image: url("../../public/svg/03.svg");
    }

    .experience-role {
      font-size: 2.6rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .experience-company {
      font-style: italic;
      font-size: 1.8rem;
      color: #c0c0c0;
      margin-bottom: 1rem;
      margin-left:-1rem;
    }

    .experience-duration {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      color: #999;
    }

    .experience-description {
      font-size: 1.6rem;
      line-height: 1.7;
    }

    .experience-timeline {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2rem;
        bottom: 0;
        width: 2px;
        background: linear-gradient(180deg, rgba(160, 241, 247, 0.6), transparent);
      }
    }

    .experience-timeline-item {
      position: relative;
      margin-bottom: 3rem;
      padding-left: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:not(:last-child) {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      }
    }

    .experience-timeline-marker {
      position: absolute;
      left: -0.9rem;
      top: 0.3rem;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background: linear-gradient(135deg, #a0f1f7, #ffb8e0);
      box-shadow: 0 0 12px rgba(160, 241, 247, 0.4);
    }

    .experience-timeline-content {
      .experience-role {
        margin-bottom: 0.5rem;
      }

      .experience-duration {
        margin-bottom: 0.8rem;
      }

      .experience-description {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 57em) {
      width: 75%;
      border-radius: 6.3rem;
      padding: 4rem;
    }

    @media only screen and (max-width: 35em) {
      width: 90%;
      border-radius: 5rem;
    }
  }
}


// section-contact
.section-contact {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 2rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }
  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  &__h2 {
    font-size: 4.5rem;
    line-height: 130.4%;
    letter-spacing: -0.02em;
    color: var(--color-gray);
    font-weight: 600;
    margin-top: 4rem;

    @media only screen and (max-width: 56.25em) {
      font-size: 4rem;
    }
    @media only screen and (max-width: 37.5em) {
      font-size: 3rem;
    }

    a {
      color: var(--color-white);
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-light-blue);
      }
    }
  }
}

// section-socials
.section-socials {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 4rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }
  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  p {
    margin-top: 2rem;
  }

  &--links {
    @include centerContent;
    margin-top: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 60rem;
  }
  a {
    @include centerContent;
    color: var(--color-gray);
    text-decoration: none;
    font-family: $font-tertiary;
    line-height: 92.4%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--color-white);
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12rem;
  padding: 3rem 6rem;
  border-top: 1px solid rgba(#c4c4c4, 0.25);
  background: #18181b;
  gap: 4rem;

  @media only screen and (max-width: 45em) {
    padding-left: 4rem;
    padding-right: 2rem;
    
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  img {
    height: auto;
  }

  &__info {
    @include centerContent;
    
    p {
      color: #aaa;
      font-size: 1.5rem;
      text-align: center;
      width: 10rem;
      
      @media only screen and (max-width: 45em) {
        margin-top: 1rem;
      }
    }
  }

  &__socials {
    @include centerContent;
    gap: 4rem;
    width: auto;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s;
      img {
        width: 3.2rem;
        height: 3.2rem;
        filter: grayscale(1) brightness(0.8);
        transition: filter 0.2s, transform 0.2s;
      }
      &:hover img {
        filter: grayscale(0) brightness(1.1);
        transform: scale(1.1);
      }
    }
  }
}
